################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/web_demo1/App_Data/Database1.mdf
/web_demo1/App_Data/Database1_log.ldf
